@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .submit-btn {
    @apply text-white w-full rounded-lg bg-[#009444] py-4 text-lg font-semibold mt-[140px];
  }

  .submit-btn-disabled {
    @apply text-white w-full rounded-lg bg-[#009444] py-4 text-lg font-semibold mt-[140px] opacity-50 cursor-not-allowed;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
